body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(84, 83, 83);
}
.container{
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(253, 253, 221);
    box-shadow: 2px 2px;
}
h1 {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="date"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
p#result {
    margin-top: 20px;
}